/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

Page {
  background-color: #F9FCFF;
}

.bg-personal {
  background-color: #F9C229;
}
.bg-work {
  background-color: #1ED102;
}
.bg-meeting {
  background-color: #D10263;
}
.bg-shopping {
  background-color: #EC6C0B;
}
.bg-party {
  background-color: #09ACCE;
}
.bg-study {
  background-color: #BF0080;
}