.header-bg {
  min-height: 106;
  background: linear-gradient(to top left, #81C7F5 50%, #3867D5 100%);
}

.header-circle-1 {
  width: 211;
  height: 211;
  border-radius: 106;
  background-color: rgba(255, 255, 255, 0.1);
  top: -90;
  left: -90;
}

.header-circle-2 {
  width: 93;
  height: 93;
  border-radius: 47;
  background-color: rgba(255, 255, 255, 0.2);
  top: -20;
  left: 100;
}

.header-data {
  margin-top: 30;
}

.header-text {
  margin-top: 15;
}

.header-title {
  font-size: 18;
}
.header-info {
  font-size: 11;
}

.header-title, .header-info {
  color: #ffffff;
  font-family: 'Rubick', 'Rubik-Regular';
  margin-left: 20;
}

.red {
  background-color: red;
}

.logo {
  align-items: center;
  width: 110;
}

.photo {
  width: 110;
  top: -15;
}

.menu {
  background-image: url('~/images/menu-bg.png');
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: 0 -23;
}

.home-indicator {
  width: 133;
  margin-bottom: 10;
}

.icon-btn {
  height: 41;
  margin-bottom: 17;
}

.add-btn {
  width: 80;
}

.title {
  text-align: center;
  font-family: "Rubik", "Rubik-Regular";
  font-size: 22;
  line-height: 27;
  color: #554E8F;
  margin-bottom: 10;
  margin-top: 60;
}

.info {
  text-align: center;
  white-space: normal;
  font-family: "OpenSans", "OpenSans-Semibold";
  font-size: 17;
  color: #82A0B7;
  padding-left: 25;
  padding-right: 25;
}